/* Auto Gallery Animation */
/* @media (max-width: 768px) {
  .gallery-item {
    width: 220px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: 180px;
    height: 120px;
  }
} */
